@import './base.css';

@font-face {
  font-family: Scheherazade;
  src: url("styles/Scheherazade-Regular.ttf");
}

html,
body {
  color: white;
  background: black;
  font-size: 1em;
  margin: 2px;
  font-family: "Scheherazade";
  font-size: 1.5em;
}

a {
  color: white;
}
